<div class="footer">
  <div class="pageline">
      <div class="pageno"><%= page_no %></div>
  </div>
  <p class="poweredby">Powered By
  <a class="R27AE60" href="https://github.com/27ae60">27AE60</a></p>
</div>

